<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <mat-nav-list class="item-haburguer">
      <a mat-list-item routerLink="/employees/home">Home</a>
      <a mat-list-item href="https://unow.es/home">Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="button" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Logo</span>
      <span class="spacer"></span>
      <div class="menu-items">
        <a mat-button routerLink="/employees/home">Home</a>
        <a mat-button href="https://unow.es/home">Salir</a>
      </div>
    </mat-toolbar>
    <ng-content select="router-outlet"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
