# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
mocks/node_modules/.package-lock.json
mocks/node_modules/.bin/nodemon
mocks/node_modules/.bin/nodemon.cmd
mocks/node_modules/.bin/nodemon.ps1
mocks/node_modules/.bin/nodetouch
mocks/node_modules/.bin/nodetouch.cmd
mocks/node_modules/.bin/nodetouch.ps1
mocks/node_modules/.bin/semver
mocks/node_modules/.bin/semver.cmd
mocks/node_modules/.bin/semver.ps1
mocks/node_modules/anymatch/index.d.ts
mocks/node_modules/anymatch/index.js
mocks/node_modules/anymatch/LICENSE
mocks/node_modules/anymatch/package.json
mocks/node_modules/anymatch/README.md
mocks/node_modules/balanced-match/index.js
mocks/node_modules/balanced-match/LICENSE.md
mocks/node_modules/balanced-match/package.json
mocks/node_modules/balanced-match/README.md
mocks/node_modules/balanced-match/.github/FUNDING.yml
mocks/node_modules/binary-extensions/binary-extensions.json
mocks/node_modules/binary-extensions/binary-extensions.json.d.ts
mocks/node_modules/binary-extensions/index.d.ts
mocks/node_modules/binary-extensions/index.js
mocks/node_modules/binary-extensions/license
mocks/node_modules/binary-extensions/package.json
mocks/node_modules/binary-extensions/readme.md
mocks/node_modules/brace-expansion/index.js
mocks/node_modules/brace-expansion/LICENSE
mocks/node_modules/brace-expansion/package.json
mocks/node_modules/brace-expansion/README.md
mocks/node_modules/braces/index.js
mocks/node_modules/braces/LICENSE
mocks/node_modules/braces/package.json
mocks/node_modules/braces/README.md
mocks/node_modules/braces/lib/compile.js
mocks/node_modules/braces/lib/constants.js
mocks/node_modules/braces/lib/expand.js
mocks/node_modules/braces/lib/parse.js
mocks/node_modules/braces/lib/stringify.js
mocks/node_modules/braces/lib/utils.js
mocks/node_modules/chokidar/index.js
mocks/node_modules/chokidar/LICENSE
mocks/node_modules/chokidar/package.json
mocks/node_modules/chokidar/README.md
mocks/node_modules/chokidar/lib/constants.js
mocks/node_modules/chokidar/lib/fsevents-handler.js
mocks/node_modules/chokidar/lib/nodefs-handler.js
mocks/node_modules/chokidar/types/index.d.ts
mocks/node_modules/concat-map/.travis.yml
mocks/node_modules/concat-map/index.js
mocks/node_modules/concat-map/LICENSE
mocks/node_modules/concat-map/package.json
mocks/node_modules/concat-map/README.markdown
mocks/node_modules/concat-map/example/map.js
mocks/node_modules/concat-map/test/map.js
mocks/node_modules/fill-range/index.js
mocks/node_modules/fill-range/LICENSE
mocks/node_modules/fill-range/package.json
mocks/node_modules/fill-range/README.md
mocks/node_modules/glob-parent/CHANGELOG.md
mocks/node_modules/glob-parent/index.js
mocks/node_modules/glob-parent/LICENSE
mocks/node_modules/glob-parent/package.json
mocks/node_modules/glob-parent/README.md
mocks/node_modules/ignore-by-default/index.js
mocks/node_modules/ignore-by-default/LICENSE
mocks/node_modules/ignore-by-default/package.json
mocks/node_modules/ignore-by-default/README.md
mocks/node_modules/is-binary-path/index.d.ts
mocks/node_modules/is-binary-path/index.js
mocks/node_modules/is-binary-path/license
mocks/node_modules/is-binary-path/package.json
mocks/node_modules/is-binary-path/readme.md
mocks/node_modules/is-extglob/index.js
mocks/node_modules/is-extglob/LICENSE
mocks/node_modules/is-extglob/package.json
mocks/node_modules/is-extglob/README.md
mocks/node_modules/is-glob/index.js
mocks/node_modules/is-glob/LICENSE
mocks/node_modules/is-glob/package.json
mocks/node_modules/is-glob/README.md
mocks/node_modules/is-number/index.js
mocks/node_modules/is-number/LICENSE
mocks/node_modules/is-number/package.json
mocks/node_modules/is-number/README.md
mocks/node_modules/minimatch/LICENSE
mocks/node_modules/minimatch/minimatch.js
mocks/node_modules/minimatch/package.json
mocks/node_modules/minimatch/README.md
mocks/node_modules/nodemon/.prettierrc.json
mocks/node_modules/nodemon/index.d.ts
mocks/node_modules/nodemon/jsconfig.json
mocks/node_modules/nodemon/LICENSE
mocks/node_modules/nodemon/package.json
mocks/node_modules/nodemon/README.md
mocks/node_modules/nodemon/bin/nodemon.js
mocks/node_modules/nodemon/bin/windows-kill.exe
mocks/node_modules/nodemon/doc/cli/authors.txt
mocks/node_modules/nodemon/doc/cli/config.txt
mocks/node_modules/nodemon/doc/cli/help.txt
mocks/node_modules/nodemon/doc/cli/logo.txt
mocks/node_modules/nodemon/doc/cli/options.txt
mocks/node_modules/nodemon/doc/cli/topics.txt
mocks/node_modules/nodemon/doc/cli/usage.txt
mocks/node_modules/nodemon/doc/cli/whoami.txt
mocks/node_modules/nodemon/lib/index.js
mocks/node_modules/nodemon/lib/nodemon.js
mocks/node_modules/nodemon/lib/spawn.js
mocks/node_modules/nodemon/lib/version.js
mocks/node_modules/nodemon/lib/cli/index.js
mocks/node_modules/nodemon/lib/cli/parse.js
mocks/node_modules/nodemon/lib/config/command.js
mocks/node_modules/nodemon/lib/config/defaults.js
mocks/node_modules/nodemon/lib/config/exec.js
mocks/node_modules/nodemon/lib/config/index.js
mocks/node_modules/nodemon/lib/config/load.js
mocks/node_modules/nodemon/lib/help/index.js
mocks/node_modules/nodemon/lib/monitor/index.js
mocks/node_modules/nodemon/lib/monitor/match.js
mocks/node_modules/nodemon/lib/monitor/run.js
mocks/node_modules/nodemon/lib/monitor/signals.js
mocks/node_modules/nodemon/lib/monitor/watch.js
mocks/node_modules/nodemon/lib/rules/add.js
mocks/node_modules/nodemon/lib/rules/index.js
mocks/node_modules/nodemon/lib/rules/parse.js
mocks/node_modules/nodemon/lib/utils/bus.js
mocks/node_modules/nodemon/lib/utils/clone.js
mocks/node_modules/nodemon/lib/utils/colour.js
mocks/node_modules/nodemon/lib/utils/index.js
mocks/node_modules/nodemon/lib/utils/log.js
mocks/node_modules/nodemon/lib/utils/merge.js
mocks/node_modules/nodemon/node_modules/debug/LICENSE
mocks/node_modules/nodemon/node_modules/debug/package.json
mocks/node_modules/nodemon/node_modules/debug/README.md
mocks/node_modules/nodemon/node_modules/debug/src/browser.js
mocks/node_modules/nodemon/node_modules/debug/src/common.js
mocks/node_modules/nodemon/node_modules/debug/src/index.js
mocks/node_modules/nodemon/node_modules/debug/src/node.js
mocks/node_modules/nodemon/node_modules/has-flag/index.js
mocks/node_modules/nodemon/node_modules/has-flag/license
mocks/node_modules/nodemon/node_modules/has-flag/package.json
mocks/node_modules/nodemon/node_modules/has-flag/readme.md
mocks/node_modules/nodemon/node_modules/ms/index.js
mocks/node_modules/nodemon/node_modules/ms/license.md
mocks/node_modules/nodemon/node_modules/ms/package.json
mocks/node_modules/nodemon/node_modules/ms/readme.md
mocks/node_modules/nodemon/node_modules/supports-color/browser.js
mocks/node_modules/nodemon/node_modules/supports-color/index.js
mocks/node_modules/nodemon/node_modules/supports-color/license
mocks/node_modules/nodemon/node_modules/supports-color/package.json
mocks/node_modules/nodemon/node_modules/supports-color/readme.md
mocks/node_modules/normalize-path/index.js
mocks/node_modules/normalize-path/LICENSE
mocks/node_modules/normalize-path/package.json
mocks/node_modules/normalize-path/README.md
mocks/node_modules/picomatch/CHANGELOG.md
mocks/node_modules/picomatch/index.js
mocks/node_modules/picomatch/LICENSE
mocks/node_modules/picomatch/package.json
mocks/node_modules/picomatch/README.md
mocks/node_modules/picomatch/lib/constants.js
mocks/node_modules/picomatch/lib/parse.js
mocks/node_modules/picomatch/lib/picomatch.js
mocks/node_modules/picomatch/lib/scan.js
mocks/node_modules/picomatch/lib/utils.js
mocks/node_modules/pstree.remy/.travis.yml
mocks/node_modules/pstree.remy/LICENSE
mocks/node_modules/pstree.remy/package.json
mocks/node_modules/pstree.remy/README.md
mocks/node_modules/pstree.remy/lib/index.js
mocks/node_modules/pstree.remy/lib/tree.js
mocks/node_modules/pstree.remy/lib/utils.js
mocks/node_modules/pstree.remy/tests/index.test.js
mocks/node_modules/pstree.remy/tests/fixtures/index.js
mocks/node_modules/pstree.remy/tests/fixtures/out1
mocks/node_modules/pstree.remy/tests/fixtures/out2
mocks/node_modules/readdirp/index.d.ts
mocks/node_modules/readdirp/index.js
mocks/node_modules/readdirp/LICENSE
mocks/node_modules/readdirp/package.json
mocks/node_modules/readdirp/README.md
mocks/node_modules/semver/index.js
mocks/node_modules/semver/LICENSE
mocks/node_modules/semver/package.json
mocks/node_modules/semver/preload.js
mocks/node_modules/semver/range.bnf
mocks/node_modules/semver/README.md
mocks/node_modules/semver/bin/semver.js
mocks/node_modules/semver/classes/comparator.js
mocks/node_modules/semver/classes/index.js
mocks/node_modules/semver/classes/range.js
mocks/node_modules/semver/classes/semver.js
mocks/node_modules/semver/functions/clean.js
mocks/node_modules/semver/functions/cmp.js
mocks/node_modules/semver/functions/coerce.js
mocks/node_modules/semver/functions/compare-build.js
mocks/node_modules/semver/functions/compare-loose.js
mocks/node_modules/semver/functions/compare.js
mocks/node_modules/semver/functions/diff.js
mocks/node_modules/semver/functions/eq.js
mocks/node_modules/semver/functions/gt.js
mocks/node_modules/semver/functions/gte.js
mocks/node_modules/semver/functions/inc.js
mocks/node_modules/semver/functions/lt.js
mocks/node_modules/semver/functions/lte.js
mocks/node_modules/semver/functions/major.js
mocks/node_modules/semver/functions/minor.js
mocks/node_modules/semver/functions/neq.js
mocks/node_modules/semver/functions/parse.js
mocks/node_modules/semver/functions/patch.js
mocks/node_modules/semver/functions/prerelease.js
mocks/node_modules/semver/functions/rcompare.js
mocks/node_modules/semver/functions/rsort.js
mocks/node_modules/semver/functions/satisfies.js
mocks/node_modules/semver/functions/sort.js
mocks/node_modules/semver/functions/valid.js
mocks/node_modules/semver/internal/constants.js
mocks/node_modules/semver/internal/debug.js
mocks/node_modules/semver/internal/identifiers.js
mocks/node_modules/semver/internal/lrucache.js
mocks/node_modules/semver/internal/parse-options.js
mocks/node_modules/semver/internal/re.js
mocks/node_modules/semver/ranges/gtr.js
mocks/node_modules/semver/ranges/intersects.js
mocks/node_modules/semver/ranges/ltr.js
mocks/node_modules/semver/ranges/max-satisfying.js
mocks/node_modules/semver/ranges/min-satisfying.js
mocks/node_modules/semver/ranges/min-version.js
mocks/node_modules/semver/ranges/outside.js
mocks/node_modules/semver/ranges/simplify.js
mocks/node_modules/semver/ranges/subset.js
mocks/node_modules/semver/ranges/to-comparators.js
mocks/node_modules/semver/ranges/valid.js
mocks/node_modules/simple-update-notifier/LICENSE
mocks/node_modules/simple-update-notifier/package.json
mocks/node_modules/simple-update-notifier/README.md
mocks/node_modules/simple-update-notifier/build/index.d.ts
mocks/node_modules/simple-update-notifier/build/index.js
mocks/node_modules/simple-update-notifier/src/borderedText.ts
mocks/node_modules/simple-update-notifier/src/cache.spec.ts
mocks/node_modules/simple-update-notifier/src/cache.ts
mocks/node_modules/simple-update-notifier/src/getDistVersion.spec.ts
mocks/node_modules/simple-update-notifier/src/getDistVersion.ts
mocks/node_modules/simple-update-notifier/src/hasNewVersion.spec.ts
mocks/node_modules/simple-update-notifier/src/hasNewVersion.ts
mocks/node_modules/simple-update-notifier/src/index.spec.ts
mocks/node_modules/simple-update-notifier/src/index.ts
mocks/node_modules/simple-update-notifier/src/isNpmOrYarn.ts
mocks/node_modules/simple-update-notifier/src/types.ts
mocks/node_modules/to-regex-range/index.js
mocks/node_modules/to-regex-range/LICENSE
mocks/node_modules/to-regex-range/package.json
mocks/node_modules/to-regex-range/README.md
mocks/node_modules/touch/index.js
mocks/node_modules/touch/LICENSE
mocks/node_modules/touch/package.json
mocks/node_modules/touch/README.md
mocks/node_modules/touch/bin/nodetouch.js
mocks/node_modules/undefsafe/.jscsrc
mocks/node_modules/undefsafe/.jshintrc
mocks/node_modules/undefsafe/.travis.yml
mocks/node_modules/undefsafe/example.js
mocks/node_modules/undefsafe/LICENSE
mocks/node_modules/undefsafe/package.json
mocks/node_modules/undefsafe/README.md
mocks/node_modules/undefsafe/.github/workflows/release.yml
mocks/node_modules/undefsafe/lib/undefsafe.js
